<header class="app-header">
  <nav class="app-header__nav">
    <div class="app-header__left">
      <%= link_to (user_signed_in? ? memos_path : root_path), class: "app-header__brand" do %>
        <%= image_tag asset_path("logo.svg"), alt: "MEMOTC", class: "app-header__logo" %>
      <% end %>
      <%= link_to "メモ一覧", memos_path, class: "app-header__link" %>
      <%= link_to "新規メモ", new_memo_path, class: "app-header__link" %>
    </div>

    <div class="app-header__right">
    <% if user_signed_in? %>
      <%= link_to edit_user_registration_path, class: "app-header__user" do %>
      <%= image_tag(
            (current_user.avatar.attached? ? url_for(current_user.avatar.variant(resize_to_fill: [40, 40])) : asset_path("default_avatar.png")),
            alt: "ユーザーアイコン",
            class: "app-header__avatar",
            width: 40,
            height: 40
          ) %>
      <span class="app-header__username"><%= current_user.name.presence || "ユーザー" %></span>
    <% end %>
      <% else %>
        <%= link_to "新規登録", new_user_registration_path, class: "app-header__link" %>
        <%= link_to "ログイン", new_user_session_path, class: "app-header__link" %>
      <% end %>
    </div>
  </nav>
</header>